{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "codeFrame": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": 0,
        "react/no-danger": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "import/prefer-default-export": 0,
        "react/forbid-prop-types": 0,
        "react/require-default-props": 0
    }
}